@import "tailwindcss";

:root {
  color-scheme: light !important;
}

button:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}
